.hero-area {
    padding: 70px 0;
    width: 100% !important;
    height: 500px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
/* 
#slide1, #slide2,
#slide3 {
    width: 100%;
    height:70vh;
    background: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:  relative !important;
} */

/* #slide1::after {
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.682)),
} */
